[Desktop Entry]
Version=1.0
Name=AudioCurve
GenericName=Audio Curve Generator for Natron/Nuke
Comment=Create curve data from audio
Exec=AudioCurveGUI
Icon=audiocurve
Terminal=false
Type=Application
StartupNotify=false
Categories=Graphics;Audio;
X-Desktop-File-Install-Version=0.21
